*{
	padding: 0px;
	margin: 0px;
}

.login-section{
	width: 100%;

}	
.login-box{	
	width:550px;
	margin:150px auto;
	background: #eee;
	padding: 50px;
	border-radius: 20px;
	columns: #34c3eb;
	} 
.SSBCL{
	width: 100%;
	text-align: center;
	padding: 40px 0px;

}
.SSBCL img{
	width: 150px;
	height: 150px;
	border-radius: 100%;
}
.login-box h2{
	text-align: center;
	font-size: 28px;
	color: #ffffff;
	font-weight:700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 5px 0px;
}
.login-form{
	width: 100%;
}
.form-group{
	width: 100%;
	margin: 15px 0px 15px 15px;
}
.form-group label{
	font-size:14px ;
	font-weight:700 ;
	color: #edf3f5;
	display: block;
	text-transform: uppercase;
	padding: 2px 2px 5px;
}
.form-group .form-control {
	width: 90%;
	padding: 10px;
	font-size: 14px;
	color: #777;
	border: 2px solid #111;
}
.login-box{	
	width:600px;
	margin:150px auto ;
	background: #74bfcf;
	



}
.form-group label{
	font-size:14px ;
	font-weight:700 ;
	color: #edf3f5;
	display: block;
	text-transform: uppercase;
	padding: 2px 2px 5px;
}
.form-group label{
	font-size:14px ;
	font-weight:700 ;
	color: #edf3f5;
	display: block;
	text-transform: uppercase;
	padding: 2px 2px 5px;
	}
	.form-group label{
	font-size:14px ;
	font-weight:700 ;
	color: #edf3f5;
	display: block;
	text-transform: uppercase;
	padding: 2px 2px 5px;
	}
	.form-group .btn{
		padding: 10px 25px;
		background:#edf3f5;
		color:#000;
		border: 2px solid;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		border-radius:5px ;


	}